body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman",
        Times, serif;
  font-size: 16px;
  color: black;
  background-color: #fefee0 }
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em }
h1 {
  font-family: Calibri,Helvetica, Geneva, Arial,
        SunSans-Regular, serif }
ul.navbar li {
  background: none;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid none }
ul.navbar a {
  text-decoration: none }
a:link {
  color: blue }
a:visited {
  color: blue }
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted }
table {
  td {
    text-align: center;
    }
}
